
.bottom-left-container {
  justify-content: flex-end !important;
}

.footer-buttons {
  display: flex;
  gap: 20px;
  background: #007bff;
  padding: 6px 12px;
  margin-top: -4px !important;
  justify-content: flex-end;
}

.row {
    gap: 2px !important;
  }
