.footer-columns {
    display: flex;
    gap: 150px !important;
    align-items: flex-start;
  }

  @media (max-width: 768px) {
    .footer-columns {
      flex-direction: column;
      gap: 10px !important;
    }
  
  }
  