<div class="settings-title">User Management Tool</div>

<div class="settings-content">
  <div class="user-message">
    This tool allows you to create users and assign them different access rights/roles based on what they are allowed to do.
  </div>

  <div class="user-message">
    What you can do using this tool.
    <p>1. Create a new user</p>
    <p>2. Set user password</p>
    <p>3. Assign user access rights</p>
    <p>4. Check system security logs</p>
  </div>

  <div class="user-link">
    <a (click)="openManagementDialog()">Start User Management Tool</a>
  </div>

</div>

