<header class="app-header">
    <div class="header-left">
      <img src="assets/images/logo.ico" alt="CIGT" class="logo" />
    </div>
  
    <div class="header-right">
      <i class="material-icons" title="Profile">account_circle</i>
      <i class="material-icons" title="Calculator">calculate</i>
      <i class="material-icons" title="Notifications">notifications</i>
      <i class="material-icons" title="Payments">payments</i>
      <i class="material-icons" title="Settings">settings</i>
      <i class="material-icons" title="Lock">lock</i>
      <i class="material-icons" title="Logout" style="color: red;">logout</i>
      <button class="help-btn">
        <i class="material-icons">help</i> Help
      </button>
    </div>
  </header>
  