<header class="app-header">
  <div class="header-left">
    <img src="https://cigt.in/images/logo.png" alt="CIGT" class="logo" />
  </div>

  <div class="header-right">
    <i class="material-icons" title="One Click Sale">touch_app</i>
    <i class="material-icons" title="Calculator">calculate</i>
    <i class="material-icons" title="Reminder">notifications</i>
    <i class="material-icons" title="Payment Received">payments</i>
    <i class="material-icons" title="Settings">settings</i>
    <i class="material-icons" title="Lock Screen">lock</i>
    <i class="material-icons" title="Logout" style="color: red;">logout</i>
    <button class="help-btn">
      <i class="material-icons">help</i> Help
    </button>
  </div>
</header>
