.full-page-container {
    margin-top: 30px !important;
}

.right-buttons{
    margin: 32px 0 0 50px !important;
}

.date-group input[type="text"],
.date-group input[type="date"]{
  padding: 8px 6px !important;
}


.date-group input[type="date"]{
    margin-top: 12px !important;
  }

@media (max-width: 1000px) {
    .date-group input[type="text"] {
        padding: 8px 6px !important;
        width: 220px !important;
      }

      .right-buttons{
        margin: 50px 20px 20px 20px !important;
    }
     
}

@media (max-width: 450px) {
    .date-group input[type="text"] {
        padding: 8px 6px !important;
        width: 160px !important;
      }

      .right-buttons{
        margin: 30px 2px 2px 2px !important;
    }
     
}