

     <div class="settings-title">General Settings</div>
    <div class="grid">

      <div class="setting-card">
        <div class="label-container">
          <label>Default Unit/UoM</label>
          <small>Select default unit of measurement which suits your business most</small>
        </div>
        <div class="input-container">
          <select><option>NOS</option>
          <option>KG</option>
          <option>MT</option>
          <option>LTR</option>
          <option>ML</option>
          <option>BOX</option>
          <option>DOZ</option>
          <option>SET</option>
          <option>ROLL</option>
          <option>PAIR</option>
          <option>YARD</option>
          <option>MTR</option>
          <option>FT</option>
          <option>INCH</option>
          <option>CM</option>
          <option>MILE</option>
          <option>KM</option>
          <option>YARD</option>
          <option>MTR</option>
          <option>FT</option>
          <option>INCH</option>
          <option>CM</option>
          <option>MILE</option>
        </select>
        </div>
      </div>

      <div class="setting-card">
        <div class="label-container">
          <label>Secure Access</label>
          <small>Ask for username and password at the application startup</small>
        </div>
        <div class="input-container">
          <input type="checkbox">
        </div>
      </div>

      <div class="setting-card">
        <div class="label-container">
          <label>Delete Passcode</label>
          <small>Ask for 4-digit numeric passcode before deleting data</small>
        </div>
        <div class="input-container">
          <input type="text" maxlength="4">
        </div>
      </div>

      <div class="setting-card">
        <div class="label-container">
          <label>Price Catalog</label>
          <small>Allows you to add multiple sale prices for the same item</small>
        </div>
        <div class="input-container">
          <input type="checkbox" checked>
        </div>
      </div>

      <div class="setting-card">
        <div class="label-container">
          <label>Negative Stock Sale</label>
          <small>Allows you to do billing in case of negative stock</small>
        </div>
        <div class="input-container">
          <input type="checkbox" checked>
        </div>
      </div>

      <div class="setting-card">
        <div class="label-container">
          <label>Manage Multi-Unit</label>
          <small>Allows you to manage multiple units of item</small>
        </div>
        <div class="input-container">
          <input type="checkbox" checked>
        </div>
      </div>

      <div class="setting-card">
        <div class="label-container">
          <label>Enable Manufacturing</label>
          <small>Allows you to create Bom and assemble items in stock</small>
        </div>
        <div class="input-container">
          <input type="checkbox" checked>
        </div>
      </div>

      <div class="setting-card">
        <div class="label-container">
          <label>Enable Multi-Company</label>
          <small>Allows you to create an manage multiple companies while using this software</small>
        </div>
        <div class="input-container">
          <input type="checkbox">
        </div>
      </div>

      <div class="setting-card">
        <div class="label-container">
          <label>Reward Program </label>
          <small>Allows you to setup reward point program</small>
        </div>
        <div class="input-container">
          <a href="#">Setup Program</a>      
        </div>
      </div>

      <div class="setting-card">
        <div class="label-container">
          <label>Allow Task Confirmation</label>
          <small>Allows application to Ask confirmation before completing important tasks</small>
        </div>
        <div class="input-container">
          <input type="checkbox" checked>
        </div>
      </div>

      <div class="setting-card">
        <div class="label-container">
          <label>Virtual Assistant</label>
          <small>A.I. based engine to ease many tasks and improves overall performance</small>
        </div>
        <div class="input-container">
          <input type="checkbox" checked>
        </div>
      </div>

      <div class="setting-card">
        <div class="label-container">
          <label>Inventory Valuation</label>
          <small>Select inventory valuation method as per your accounting practices</small>
        </div>
        <div class="input-container">
          <select>
            <option>FIFO</option>
            <option>AVCO</option>
        </select>
        </div>
      </div>

      <div class="setting-card">
        <div class="label-container">
          <label>Inventory Identifier</label>
          <small>Select type of number used for inventory identification</small>
        </div>
        <div class="input-container">
          <select>
            <option>Serial No</option>
            <option>Batch No</option>
            <option>Part No</option>
            <option>Barcode</option>
        </select>
        </div>
      </div>

      <div class="setting-card">
        <div class="label-container">
          <label>IMEI</label>
          <small>Allows you to save and manage device IMEI telecommunication devices </small>
        </div>
        <div class="input-container">
          <input type="checkbox" checked>
        </div>
      </div>

      <div class="setting-card">
        <div class="label-container">
          <label>Warranty Management</label>
          <small>Allows you to save and manage product warranties</small>
        </div>
        <div class="input-container">
          <input type="checkbox">
        </div>
      </div>

    </div>

   

