.dashboard-header {
  background-color: #fafafa;
  padding: 10px;
  border-radius: 6px;
  font-family: Arial, sans-serif;
}

.sale-container {
  background-color: #ffffff;
  border: 1px solid #ccc;
  padding: 10px;
  width: 350px;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4px;
}

.left-title {
  display: flex;
  align-items: center;
  gap: 15px;
  color: #525252;
  font-size: 14px;
}

.eye-icon{
  font-size: 20px;
}

.right-controls {
  display: flex;
  align-items: center;
  gap: 10px;
}

.right-controls select {
  padding: 3px 6px;
}

.refresh-button {
  background: none;
  border: none;
  font-size: 25px;
  cursor: pointer;
  color: #0078d4;
}

.summary-metrics .row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px;
}

.metric-box {
  flex: 0 0 38%;
  padding: 4px;
  text-align: left;
}

.metric-box .label {
  font-size: 12px;
  color: #525252;
  margin-bottom: 4px;
  font-weight: 500;
}

.metric-box .value {
  font-weight: bold;
  font-size: 16px;
  color: #000;
  padding: 4px 0;
  border-bottom: 3px solid #0078d4;
  display: inline-block;
  min-width: 100%;
}

