

     <div class="settings-title">Taxation Settings</div>
    <div class="grid">

    <div class="setting-card">
      <span class="badge">PRO</span>
     <div class="label-container">
       <label>Enable E-Invoice</label>
       <small>Allows you to generate and print e-invoice</small>
      </div>
      <div class="input-container">
       <input type="checkbox">
      </div>
    </div>
 
      <div class="setting-card">
        <div class="label-container">
          <label>Enable E-Way Bill</label>
          <span class="badge">PRO</span>
          <small>Allows you to generate and print e-way bills</small>
          <a href="#">Register GSP Login</a>
        </div>
        <div class="input-container">
          <input type="checkbox" checked>
        </div>
      </div>

    <div class="setting-card">
        <div class="label-container">
          <label>Enable TCS</label>
          <span class="badge">PRO</span>
          <small>Allows you to define TCS rates and add tehm to invoice</small>
          <a href="#">Manage TCS</a>
        </div>
        <div class="input-container">
          <input type="checkbox" checked>
        </div>
      </div>

       <div class="setting-card">
        <div class="label-container">
          <label>Enable Cess</label>
          <small>Enable additional cess on items. You can define cess rate in item master</small>
        </div>
        <div class="input-container">
          <input type="checkbox" checked>
        </div>
      </div>

      <div class="setting-card">
        <div class="label-container">
          <label>Shipping Cess</label>
          <small>Enter cess charged on shipping/ freight/ transport cost</small>
        </div>
        <div class="input-container">
          <input type="text" placeholder="%">
        </div>
      </div>

      <div class="setting-card">
        <div class="label-container">
          <label>Allow Item Tax Change</label>
          <small>Allows you to change tax rate at the time of entering sale and purchase</small>
        </div>
        <div class="input-container">
          <input type="checkbox" checked>
        </div>
      </div>

      <div class="setting-card">
        <div class="label-container">
          <label>Footwear Slab</label>
          <small>Enter footwear slab limit and tax percentage (if applicable)</small>
        </div>
        <div class="input-container">
          <input type="text" placeholder="₹">
          <input type="text" placeholder="%">
        </div>
      </div>

      <div class="setting-card">
        <div class="label-container">
          <label>Apparel Slab</label>
          <small>Enter apparel slab limit and tax percentage (if applicable)</small>
        </div>
        <div class="input-container">
          <input type="text" placeholder="₹">
          <input type="text" placeholder="%">
        </div>
      </div>

    </div>

   

