<!-- Main Layout Container -->
<div class="product-main-container">

    <!-- Heading Section -->
  <div class="page-header-wrapper">
    <label class="page-heading"> Stock Adjustment</label>
  </div>
      <!-- Left Side -->
      <div class="product-container">
        <div class="tab-header">
          <div class="tab active">Item Info</div>
          <div class="tab">Serial Numbers</div>
        </div>
        <!-- Left Container 1 -->
        <div class="product-inner-container">

          <!-- Category -->
          <div class="form-row">
            <label for="category">Adjustment Date </label>
            <input type="date" id="start-date" />
          </div>
    
          <div class="form-row">
            <label class="radio-label">Type</label>
            <div class="radio-options">
              <label><input type="radio" name="billTo" checked /> Credit (+)</label>
              <label><input type="radio" name="billTo" /> Debit (-)</label>
            </div>
          </div>

          <!-- Brand -->
          <div class="form-row">
            <label for="brand">Adjustment Reason</label>
            <select id="brand">
                <option value="">Stock Takeoff</option>
                <option value="">Stock Reconcile</option>
                <option value="">Stock Verification</option>
                <option value="">Product Lost</option>
                <option value="">Product Stolen</option>
                <option value="">Donation</option>     
                <option value="">Write-Off</option>
                <option value="">Others</option>
            </select>
          </div>
    
          <!-- Barcode -->
          <div class="form-row">
            <label for="itemcode">Item Code</label>
            <input type="text" id="itemcode" />
          </div>
    
          <!-- Product Name -->
          <div class="form-row">
            <label for="productName">Item Name <span class="required">*</span></label>
            <input type="text" id="productName" />
            <span class="add-item-link">Add Item</span>
        </div>
    
          <!-- Price -->
          <div class="form-row">
            <label for="printname">Quantity <span class="required">*</span></label>
            <input type="text" id="printname" />
          </div>
          
<!-- Unit Price -->
<div class="form-row">
    <label for="unit-price">Unit Price <span class="required">*</span></label>
    <div class="input-flex-wrapper rupee-inline-wrapper">
      <span class="currency-symbol">₹</span>
      <input type="text" id="unit-price" />
    </div>
  </div>
  
  <!-- Amount -->
  <div class="form-row">
    <label for="amount">Amount <span class="required">*</span></label>
    <div class="input-flex-wrapper rupee-inline-wrapper">
      <span class="currency-symbol">₹</span>
      <input type="text" id="amount" />
    </div>
  </div>
  

      <div class="form-row">
        <label class="textarea">Remarks</label>
        <textarea rows="3"></textarea>
      </div>

        </div>

        <div class="right-buttons">
            <button class="primary-btn">
               <i class="material-icons">save</i> Save
            </button>
            <button class="primary-btn">
              <i class="material-icons">save</i> Save & New
           </button>
         </div> 
      </div>

      </div>


    
