<!-- Main Layout Container -->
<div class="product-main-container">

    <button class="close-button" (click)="closeDialog()">X</button>

    <!-- Heading Section -->
  <div class="page-header-wrapper">
    <label class="page-heading"> Price Catelog</label>
  </div>
    
      <!-- Left Side -->
      <div class="product-container">
        <!-- Left Container 1 -->
        <div class="product-inner-container">
    
          <div class="form-row">
            <label for="Percent">Sale Price <span class="required">*</span></label>
            <div class="input-flex-wrapper rupee-inline-wrapper">
              <span class="currency-symbol">₹</span>
              <input type="text" id="Percent" />
            </div>
          </div>
  
          <div class="form-row">
            <label for="Percent">Sale Price 2 <span class="required">*</span></label>
            <div class="input-flex-wrapper rupee-inline-wrapper">
              <span class="currency-symbol">₹</span>
              <input type="text" id="Percent" />
              
              <input type="text" id="Percent" />
              <span class="currency-symbol">%</span>

            </div>
          </div>

          <div class="form-row">
            <label for="Percent">Sale Price 3 <span class="required">*</span></label>
            <div class="input-flex-wrapper rupee-inline-wrapper">
              <span class="currency-symbol">₹</span>
              <input type="text" id="Percent" />
              
              <input type="text" id="Percent" />
              <span class="currency-symbol">%</span>

            </div>
          </div>
        </div>
  
        <div class="right-buttons">
            <button class="primary-btn">
                <i class="material-icons">calculator</i> 
            </button>
            
            <button class="primary-btn">
               <i class="material-icons">add</i> Add
            </button>
         </div> 
      </div>
  
      </div>
  
  
    
  