<div class="product-main-container">

  <!-- Heading -->
  <div class="page-header-wrapper">
    <label class="page-heading">Discount Scheme</label>
  </div>

  <div class="product-container">

    <!-- Tabs -->
    <div class="tab-header">
      <div class="tab" 
           [ngClass]="{'active': selectedTab === 'scheme'}"
           (click)="selectTab('scheme')">
        Scheme
      </div>
      <div class="tab" 
           [ngClass]="{'active': selectedTab === 'mapitem'}"
           (click)="selectTab('mapitem')">
       Mapped Items
      </div>
    </div>

    <!-- Tab Content -->
    <div class="product-inner-container">

      <!-- Item Info UI -->
      <ng-container *ngIf="selectedTab === 'scheme'">

        <div class="serial-number-section">
          <fieldset class="form-box">
            <legend>Scheme Information</legend>

            <div class="form-row">
              <label for="date">Start Date </label>
              <input type="date" id="start-date" />
            </div>
      
            <div class="form-row">
              <label for="date">End Date </label>
              <input type="date" id="start-date" />
            </div>
    
            <div class="form-row">
              <label for="name"> Name <span class="required">*</span></label>
              <input type="text" id="name" />
          </div>
    
            <!-- Brand -->
            <div class="form-row">
              <label for="discounttype">Discount Type</label>
              <select id="discounttype">
                  <option value="">Percent</option>
                  <option value="">Amount</option>
                  <option value="">Buy X Get X Free</option>
              </select>
            </div>
            
            <div class="form-row">
              <label for="quantity">Quantity <span class="required">*</span></label>
              <div class="quantity-wrapper">
                <select id="quantityvalue">
                  <option value="">Equal to (=)</option>
                  <option value="">Greater than (>)</option>
                </select>
                <input id="quantity" type="text" />
              </div>
            </div>
            
    
            <!-- Barcode -->
            <div class="form-row">
              <label for="freequantity">Free Quantity</label>
              <input type="text" id="freequantity" />
            </div>
      
            <div class="form-row">
              <label for="Percent">Percent <span class="required">*</span></label>
              <div class="input-flex-wrapper rupee-inline-wrapper">
                <span class="currency-symbol">%</span>
                <input type="text" id="Percent" />
              </div>
            </div>
      
          <div class="form-row">
            <label for="customertype">Apply To</label>
            <select id="customertype">
                <option value="">All</option>
                <option value="">Walking customers</option>
                <option value="">Member customers</option>
            </select>
          </div>
    
        <div class="form-row">
          <label class="textarea">Remarks</label>
          <textarea rows="3"></textarea>
        </div>
        
      </fieldset>
      </div>
         <!-- Save Buttons (you can show for both tabs or only item tab) -->
      <div class="right-buttons" *ngIf="selectedTab === 'scheme'">
        <button class="primary-btn">
          <i class="material-icons">save</i> Save
        </button>
      </div>
      </ng-container>


      <!-- Serial Numbers UI -->
      <ng-container *ngIf="selectedTab === 'mapitem'">
        
        <div class="form-wrapper">
          <div class="form-group">
            <label for="group">Group</label>
            <select id="group">
              <option value="">Select Group</option>
              <option value=""></option>
            </select>
          </div>
      
          <div class="form-group">
            <label for="brand">Brand</label>
            <select id="brand">
              <option value="">Select Brand</option>
              <option value=""></option>
            </select>
          </div>
      
          <div class="form-group">
            <label for="location">Location/Rack</label>
            <select id="location">
              <option value="">Select Location</option>
              <option value=""></option>
            </select>
          </div>
      
          <div class="form-group">
            <label for="search">Enter text to search</label>
            <input type="text" id="search" placeholder="Search..." />
          </div>
      
          <div class="search-button">
            <button class="primary-btn">
              <i class="material-icons">search</i> Search
            </button>
          </div>
        </div>
      
        <div class="serial-number-section">
          
        <fieldset class="form-box">
          <legend>Item(s)</legend>
          <div class="action-bar">
            
            <input type="checkbox" />
            <a href="#">Select All</a>
            <a href="#"  title="Add items">Add Item To Scheme</a>
          </div>
      
          <div class="table-scroll">
            <table class="item-table">
              <thead>
                <tr>
                  <th></th>
                  <th>Item Name</th>
                  <th>Existing Scheme</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><input type="checkbox" /></td>
                  <td>Item 1</td>
                  <td>Scheme 1</td>
                </tr>
                <tr>
                  <td><input type="checkbox" /></td>
                  <td>Item 2</td>
                  <td>Scheme 2</td>
                </tr>
                <tr>
                  <td><input type="checkbox" /></td>
                  <td>Item 3</td>
                  <td>Scheme 3</td>
                </tr>
              </tbody>
            </table>
          </div>
        </fieldset>

        </div>
      </ng-container>
      
    </div>

 

  </div>

</div>





 
