
.quantity-wrapper {
  display: flex;
  gap: 10px;
  width: 100%;
  max-width: 260px;
}

.quantity-wrapper select,
.quantity-wrapper input[type="text"] {
  flex: 1;
  padding: 6px 8px;
  font-size: 14px;
  border: 1.5px solid #ccc;
  background: #fff;
  outline: none;
  transition: border-color 0.3s;
  width: 100% !important;
  max-width: 125px !important;
}


/* Mobile (below 600px) */
@media (max-width: 600px) {
  .quantity-wrapper {
    flex-direction: column; /* stack items vertically */
    max-width: 100%;
  }

  .quantity-wrapper select,
  .quantity-wrapper input[type="text"] {
    width: 100% !important; /* full width on small screens */
    max-width: 260px !important;
  }
}