

     <div class="settings-title">Billing Settings</div>
    <div class="grid">

      <div class="setting-card">
        <div class="label-container">
          <label>Billing Engine</label>
          <small>Select billing engine which suits your business most</small>
        </div>
        <div class="input-container">
          <select>
          <option>General</option>
          <option>Point of Sale</option>
          <option>Restaurent</option>
          <option>Professional</option>
        </select>
        </div>
      </div>

      <div class="setting-card">
        <div class="label-container">
          <label>Barcode Quick Billing</label>
          <small>Allows you to add item directly in invoice on scanning barcode</small>
        </div>
        <div class="input-container">
          <input type="checkbox">
        </div>
      </div>

      <div class="setting-card">
        <div class="label-container">
          <label>Item Image</label>
          <small>Allows you to add item image and show it turning billing for reference</small>
        </div>
        <div class="input-container">
          <input type="checkbox" checked>
        </div>
      </div>

      <div class="setting-card">
        <div class="label-container">
          <label class="red">Allow Decimal</label>
          <small>Allows you to add decimal in quantity</small>
        </div>
        <div class="input-container">
          <input type="checkbox" checked>
        </div>
      </div>

      <div class="setting-card">
        <div class="label-container">
          <label>Sale Price Change</label>
          <small>Allows you to change sale price at time of billing</small>
        </div>
        <div class="input-container">
          <input type="checkbox" checked>
        </div>
      </div>

      <div class="setting-card">
        <div class="label-container">
          <label>Serial No. Textbox</label>
          <small>Show serial no textbox at the time of billing</small>
        </div>
        <div class="input-container">
          <input type="checkbox" checked>
        </div>
      </div>

      <div class="setting-card">
        <div class="label-container">
          <label>Roundoff Total</label>
          <small>Roundoff document total to the nearest one for easier billing</small>
        </div>
        <div class="input-container">
          <input type="checkbox" checked>
        </div>
      </div>

      <div class="setting-card">
        <div class="label-container">
          <label>Sale Price Excluding Tax</label>
          <small>Automatically calculate sale price from amount and excludes tax</small>
        </div>
        <div class="input-container">
          <input type="checkbox" checked>
        </div>
      </div>

      <div class="setting-card">
        <div class="label-container">
          <label>Credit Limit Crossed</label>
          <small>Action to be taken when customer credit limit croses</small>
        </div>
        <div class="input-container">
          <select>
           <option>Warn</option>
           <option>Nothing</option>
           <option>General</option>
          </select>
         </div>
      </div>

      <div class="setting-card">
        <div class="label-container">
           <label>Default Document Type</label>
          <small>Set default document type as per your business practice</small>
        </div>
         <div class="input-container">
          <select>
           <option>Non GST</option>
           <option>GST</option>
           <option>Bill of Supply</option>
          </select>
         </div>
      </div>

      <div class="setting-card">
        <div class="label-container">
          <label>Change Document Type</label>
          <small>Allows you to change document type at the time of billing</small>
        </div>
        <div class="input-container">
          <input type="checkbox" checked>
        </div>
      </div>

      <div class="setting-card">
        <div class="label-container">
          <label>Default Item Search</label>
          <small>Allows you to set method of finding item at the time of billing</small>
        </div>
        <div class="input-container">
          <select>
            <option>Item Tag</option>
            <option>Item Code</option>
            <option>Item Name</option>
        </select>
        </div>
      </div>

      <div class="setting-card">
        <div class="label-container">
          <label>Default Sale Linking</label>
          <small>Setdefault sale linking as per business practice</small>
        </div>
        <div class="input-container">
          <select>
            <option>Cash Account</option>
            <option>Customer Account</option>
           </select>
        </div>
      </div>

      <div class="setting-card">
        <div class="label-container">
          <label>Change Sale Linking </label>
          <small>Allows you to change sale linking at the time of billing</small>
        </div>
        <div class="input-container">
          <input type="checkbox" checked>
        </div>
      </div>

      <div class="setting-card">
        <div class="label-container">
          <label>Save Delivery Terms </label>
          <small>Allows you to autosave delivery terms entered while billing</small>
        </div>
        <div class="input-container">
          <input type="checkbox" checked>
        </div>
      </div>

       <div class="setting-card">
        <div class="label-container">
          <label>Sale Price From Purchase </label>
          <small>Allows you to fetch sale price of the item from last purchase bill</small>
        </div>
        <div class="input-container">
          <input type="checkbox" checked>
        </div>
      </div>

        <div class="setting-card">
        <div class="label-container">
          <label>Last Purchase Price</label>
          <small>Show you last purchase price of selected item while billing</small>
        </div>
        <div class="input-container">
          <input type="checkbox" checked>
        </div>
      </div>

       <div class="setting-card">
        <div class="label-container">
          <label>Last 5 Sale Price</label>
          <small>Show you last 5 sale transactions in sales while adding item</small>
        </div>
        <div class="input-container">
          <input type="checkbox" checked>
        </div>
      </div>

            <div class="setting-card">
        <div class="label-container">
          <label>Last 5 Purchase Price</label>
          <small>Show you last 5 purchase transactions in purchases while adding item</small>
        </div>
        <div class="input-container">
          <input type="checkbox" checked>
        </div>
      </div>

       <div class="setting-card">
        <div class="label-container">
          <label>Sale Same Serial No.</label>
          <small>Action to be taken when you tries to sale same serial number</small>
        </div>
           <div class="input-container">
          <select>
            <option>Nothing</option>
            <option>Warn</option>
            <option>Stop</option>
           </select>
        </div>
      </div>

      
       <div class="setting-card">
        <div class="label-container">
          <label>Available Serials</label>
          <small>Show you available serial numbers at the time of billing on item selection</small>
        </div>
        <div class="input-container">
          <input type="checkbox" checked>
        </div>
      </div>

    </div>

   

