.product-main-container {
    margin: 30px auto !important;
  }

  .product-container {
    gap: 16px !important;
  }

  .upload-container {
    position: relative;
    padding-top: 20px;
  }
  
  .upload-label {
    position: absolute;
    top: -12px;
    left: 14px;
    background-color: #f9fafb;
    padding: 0 6px;
    font-size: 15px;
    font-weight: 500;
    color: #1e2d3b;
    border-radius: 2px;
  }
  
  .upload-box {
  border: 1px solid #ccc;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.upload-area {
  color: #999;
  margin-left: 20px;
}

.upload-icon {
  font-size: 36px;
  color: #2196f3;
  cursor: pointer;
}

.upload-icon:hover{
  background-color: #d5d5d5;
}

.delete-icon {
  font-size: 28px;
  color: red;
  cursor: pointer;
  display: block;
  margin: 10px auto;
}

.placeholder {
  margin: 10px 0;
}

small {
  color: #999;
}