<form #bankForm="ngForm" novalidate class="bank-form">

  <div class="page-header-wrapper">
    <label class="page-heading">Add New BankName</label>
  </div>

  <!-- Table Name Input -->
  <label for="bankName">
    <span>Bank Name <span class="required">*</span></span>
  </label>
  <input
  type="text"
  id="bankName"
  name="bankName"
  required
  minlength="2"
  pattern="^[a-zA-Z\s]+$"
  [(ngModel)]="bankName"
  #bankNameRef="ngModel"
  (input)="filterAlphabets(); error = ''"
/>

<!-- Validation Message -->
<div *ngIf="(bankNameRef.invalid && (bankNameRef.touched || error))" class="error-message">
  <div *ngIf="bankNameRef.errors?.['required']">Bank name is required.</div>
  <div *ngIf="bankNameRef.errors?.['minlength']">Must be at least 4 characters.</div>
  <div *ngIf="bankNameRef.errors?.['pattern']">Only letters and spaces allowed.</div>
  <div *ngIf="error && !bankNameRef.errors"> {{ error }} </div>
</div>

  <!-- Buttons -->
  <div class="button-group">
    <button
      class="primary-btn btn-add"
      type="button"
      [disabled]="bankForm.invalid"
      (click)="addTable()"
    >Add</button>
    <button class="primary-btn btn-cancel" type="button" (click)="cancel()">Cancel</button>
  </div>

   <!-- Table Section -->
   <div class="table-wrapper">
    <table class="bank-table">
      <thead>
        <tr>
          <th>S.No</th>
          <th>Holiday Name</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <!-- Show 3 empty rows if list is empty -->
        <ng-container *ngIf="bankList.length === 0">
          <tr *ngFor="let row of [1,2,3]">
            <td>{{ row }}</td>
            <td style="color: gray;">-</td>
            <td>
              <button disabled>✏️</button>
              <button disabled>🗑️</button>
            </td>
          </tr>
        </ng-container>

        <!-- Show data rows -->
        <tr *ngFor="let name of bankList; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ name }}</td>
          <td>
            <button type="button" (click)="editTable(i)">✏️</button>
            <button type="button" (click)="deleteTable(i)">🗑️</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</form>
